:root
{
    font-size: 1vh;
}

@media screen and (min-height: 100vw)
{
    :root
    {
        font-size: 1vw;
    }
}

/*------------------MAIN----------------*/

body
{
    user-select: none;
    margin: 0;
    text-align: center;
    overflow: hidden;
}

#footer
{
    position: absolute;
    z-index: 1;
    height: 2rem;
    bottom: 0;
    right: calc(((100% - 100rem) / 2));
}

#screen
{
    cursor: url("../img/main/cursor.png") 15 15, auto;
    --WINDOW-BG-COLOR: #161616;
    --SCREEN-BG-COLOR: #323232;
    --BORDER-COLOR: #222222;
    --BORDER: 0.6rem solid var(--BORDER-COLOR);
    --TABLE-BG-COLOR: #050505;
    width: 100vw;
    height: 100vh;
    background-color: var(--SCREEN-BG-COLOR);
}

#screen.dark
{
    cursor: url("../img/main/cursor_high_contrast.png") 15 15, auto;
    --WINDOW-BG-COLOR: #f0f0f0;
    --SCREEN-BG-COLOR: #d0d0d0;
    --BORDER-COLOR: #000000;
    --BORDER: 0.6rem solid var(--BORDER-COLOR);
    --TABLE-BG-COLOR: #fcfcfc;
}

#screen.dark img:not(:is(.pixel, #cross))
{
    filter: brightness(0);
}

#screen.dark .pixel.modified.transparent
{
    filter: brightness(.4);
}

#screen.dark :is(#edit, #board, #preview) .pixel:not(:is(.empty, .transparent, .modified))
{
    border: 0.8rem solid #000000;
    background-color: #000000;
    box-shadow: 0 0 1rem #000000;
    position: relative;
}

#screen.dark .pixel:is(.transparent, .modified)
{
    border: 0.4rem solid black;
    border-radius: 0.8rem; 
    background-color: white;
    opacity: 1;
}

.display:is(.game, .windows)
{
    margin-inline: auto;
    text-align: center;
    background-color: var(--WINDOW-BG-COLOR);
    height: calc(100vh - 16rem);
}

.display.game
{
    width: 100rem;
}

.display.windows
{
    position: fixed;
    bottom: 0;
    width: 100rem;
    left: calc((100% - 100rem) / 2);
    z-index: 1;
}

.display.transparent
{
    opacity: 90%;
}

.window
{
    margin-inline: auto;
    box-sizing: border-box;
}

.window.game
{
    width: 70%;
}

.disabled
{
    display: none;
}

#baner
{
    width: 100rem;
    margin-inline: auto;
    background-color: var(--WINDOW-BG-COLOR);
}

#baner-img
{
    height: 16rem;
}

.line.long
{
    display: block;
    margin: 0.8rem auto;
    height: 2rem;
    width: 80%;
}

.line.short
{
    display: block;
    margin: 1rem auto;
    height: 1.6rem;
    width: 60%;
}

/*------------------MAIN----------------*/



/*-----------------HOVER----------------*/

@media not all and (hover: none)
{
    .button:hover:not(:active)
    {
        transition: 0.06s;
        transform: scale(1.05);
        opacity: 70%;
    }
    .button:hover:active
    {
        transform: scale(0.95);
        opacity: 50%;
    }
    #screen:not(.dark).window.editor #edit .pixel.empty:hover
    {
        background-color: #00ffff;
        border-color: #00e0e0;
        border-width: 0.8rem;
        opacity: 20%;
    }

    #screen.dark .window.editor #edit .pixel.empty:hover
    {
        border: 0.4rem solid black;
        border-radius: 0.8rem; 
        background-color: white;
    }

    #screen.dark .window.editor #edit .pixel:not(.empty):hover
    {
        border: 0.8rem solid #303030;
    background-color: #303030;
    box-shadow: 0 0 1rem #303030;
    }
}

.disabled-animation
{
    opacity: 65%;
    pointer-events: none;
}

/*-----------------HOVER----------------*/



/*-----------------INFO-----------------*/

.window.info #info
{
    margin-top: 1rem;
    height: 3.5rem;
}

.window.info #ok
{
    margin-top: 3rem;
    height: 5rem;
}

/*-----------------INFO-----------------*/



/*-----------------MENU-----------------*/

.window.menu #play
{
    height: 8rem;
}

.window.menu img:not(#play, .line)
{
    height: 5rem;
}

.window.menu .selector.game-mode
{
    aspect-ratio: 6.4 / 1;
}

.window.menu .selector.speed
{
    aspect-ratio: 5.1 / 1;
}

.selector
{
    height: 5rem;
    margin-inline: auto;
}

.button.right
{
    float: right;
}

.button.left
{
    float: left;
}

/*-----------------MENU-----------------*/



/*----------------EDITOR----------------*/

.window.editor #editor
{
    height: 8rem;
}

.window.editor #brick-editor
{
    margin-block: 4rem;
    width: 42%;
    float: left;
}

.window.editor #editor-properties
{
    margin-block: 2rem;
    width: 46%;
    float: left;
}

.window.editor .property-name
{
    float: left;
    height: 100%;
}

.window.editor .toggle
{
    float: right;
    height: 100%;
}

.window.editor #editor-properties .property
{
    height: 5em;
    width: 30rem;
    float: right;
    margin-block: 0.5rem;
}

.window.editor #brick-editor .property.move-center
{
    height: 4em;
    width: 31.2rem;
    margin-inline: auto;
}

.window.editor :is(#add, #delete)
{
    height: 5rem;
}

.window.editor #brick-index
{
    display: inline-block;
}

.window.editor .selector.brick img
{
    height: 5rem;
}

.window.editor #brick-selector-box
{
    margin-top: 1rem;
    width: 31.2rem;
    margin-inline: auto;
}

.window.editor #buttons-box
{
    margin-top: 1.5rem;
    width: 31.2rem;
    margin-inline: auto;
}

.window.editor .selector.brick
{
    aspect-ratio: 5 / 1;
    clear: both;
    margin-inline: auto;
}

.window.editor #cross
{
    --PIXEL-SIZE: 20%;
    pointer-events: none;
    position: absolute;
    height: 3rem;
    left: calc(50% - 1.5rem);
    top: calc(2 * var(--PIXEL-SIZE) + (var(--PIXEL-SIZE) - 3rem) / 2);
    z-index: 1;
}

.window.editor #cross.move
{
    transform: translate(72.5%, 72.5%);
}
/*----------------EDITOR----------------*/



/*----------------PAUSE-----------------*/

.window.pause img:not(#game-paused, .line)
{
    height: 6rem;
}

.window.pause #game-paused
{
    height: 8rem;
}

/*----------------PAUSE-----------------*/



/*-------------HOW-TO-PLAY--------------*/

.window.how-to-play #how-to-play
{
    height: 6rem;
}

.window.how-to-play .display.page
{
    height: 45rem;
}

.window.how-to-play .selector.page img
{
    height: 5rem;
}

.window.how-to-play .display.page-number
{
    display: inline-block;
}

.window.how-to-play .selector.page
{
    aspect-ratio: 4 / 1;
}

.window.how-to-play .selector.page .value
{
    float: left;
}

.window.how-to-play #back
{
    height: 6rem;
}

/*-------------HOW-TO-PLAY--------------*/



/*---------------SETTINGS---------------*/

.window.settings .property-name
{
    float: left;
    height: 100%;
}

.window.settings .toggle
{
    float: right;
    height: 100%;
}

.window.settings .property
{
    height: 5rem;
    width: 50%;
    margin-inline: auto;
}

.window.settings #settings, #save
{
    height: 8rem;
}

/*---------------SETTINGS---------------*/




/*--------------GAME-OVER---------------*/

.window.game-over #game-over
{
    height: 8rem;
}

.window.game-over :is(#restart, #back, #menu)
{
    height: 6rem;
}

/*--------------GAME-OVER---------------*/



/*----------------REALLY----------------*/

.window.really img:not(#really, .line)
{
    height: 6rem;
}

.window.really #ask
{
    height: 8rem;
}

.window.really #cancel
{
    float: left;
}

.window.really #yes
{
    float: right;
}

.window.really #buttons
{
    margin-inline: auto;
    margin-top: 4rem;
}

.window.really-quit #buttons
{
    width: 40rem;
}
.window.really-restart #buttons
{
    width: 50rem;
}
/*----------------REALLY----------------*/



/*--------------BEST-SCORES-------------*/

.window.best-scores #best-scores
{
    height: 8rem;
}

.window.best-scores #back
{
    height: 6rem;
}

.window.best-scores .digit
{
    float: right;
}

.window.best-scores .char
{
    float: left;
}

.window.best-scores .column
{
    width: 20%;
    float: left;
}

.window.best-scores .value
{
    clear: both;
    margin-inline: auto;
    width: fit-content;
    height: 2rem;
}

.window.best-scores .empty
{
    height: 4rem;
}

.window.best-scores #score-board img:not(.empty)
{
    height: 100%;
}

.window.best-scores #score-board
{
    width: 80%;
    margin: 2rem auto;
    clear: both;
}

.window.best-scores .header
{
    height: 2.6rem;
}

.window.best-scores #clear
{
    height: 4rem;
}

/*--------------BEST-SCORES-------------*/